<% provide(:title, "Home") %>

<h1>Movies Index</h1>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'movies/movies_list', locals: { movies: @movies } %>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <br>
      <%= link_to "New Movie", new_movie_path, class: "btn btn-success" if logged_in? %>  
    </div>
  </div>
</div>