<% provide(:title, 'New movie') %>

<h1>New movie</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'movies/movie_form', locals: { movie: @movie } %>
  </div>
</div>